@model Bootcamp
<div class="container pb-3">
    <div class="card mt-3" id="@Model.BootcampId">
        <div class="row">
            <div class="col-md-4">
                <img src="~/img/@Model.Image" class="img-fluid rounded-start" alt="">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <a asp-controller="Bootcamp" asp-action="Details" asp-route-id="@Model.BootcampId">
                        <h5 class="card-title">@Model.Title</h5>
                    </a>
                    <p class="card-text">
                        @Model.Description
                    </p>
                </div>
                <div>
                    @if (Model.Tags != null)
                    {
                        @foreach (var tag in Model.Tags)
                        {
                            <span class="badge bg-primary">@tag</span>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
