@model Ogrenci

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="text-center mb-3">
                <img src="~/img/@Model.Image" alt="" class="rounded-circle img-thumbnail"
                    style="width: 200px; height: 200px;">
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Kullanıcı Bilgileri</h4>
                </div>
                <div class="card-body">
                    <h2 class="card-title">@Model.AdSoyad</h2>
                    <p class="card-text">Telefon: @Model.Telefon</p>
                    <p class="card-text">EPosta: @Model.Eposta</p>
                </div>
                <div class="m-3">
                    <a asp-controller="Ogrenci" asp-action="Edit" asp-route-id="@Model.OgrenciId"
                        class="btn btn-primary"> Düzenle</a>
                    <a href="#" onclick="confirmDelete(@Model.OgrenciId)" class="btn btn-danger">Sil</a>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    <h4 class="card-title">Kullanıcının Kayıtlı Olduğu Bootcamplar</h4>
                </div>
                <div class="card-body">
                    <ul>
                        @foreach (var item in Model.BootcampKayits)
                        {
                            <li>@item.Bootcamp.BootcampName</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function confirmDelete(ogrenciId) {
        if (confirm('Öğrenciyi silmek istiyor musunuz?')) {
            fetch('@Url.Action("Delete", "Ogrenci")/' + ogrenciId, {
                method: 'POST',
                headers: {
                    'Content-Type': 'aplication/json',
                    'X-Requested-Width': 'XMLHttpRequest'
                }
            })
                .then(response => {
                    if (response.ok) {
                        window.location.href = '@Url.Action("Index", "Ogrenci")';
                    } else {
                        alert('Silme işlemi sırasında hata oluştu.');
                    }
                })
                .catch(error => {
                    console.error('Silme işlemi sırasında hata oluştu', error)
                    alert('Silme işlemi sırasında hata oluştu.');
                })
        }
    }
</script>